extends layout

block content
    link(type='text/css', rel='stylesheet', href='/studentedit.css')
    
    body
      nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-dark
        a.navbar-brand(href='/') ALC College
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo02', aria-controls='navbarTogglerDemo02', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarTogglerDemo02.collapse.navbar-collapse
          ul.navbar-nav.mr-auto.mt-2.mt-lg-0
            li.nav-item
              a.nav-link(href='/')
                | Dashboard
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='/student/add') Add Student
      .container
        .col-md-4
            if errors
                div(class="alert alert-danger") #{errors[1].msg}
        .row
          .col-md-8
            h2 Edit Student Resource
            form(method="POST", action="/studentview/edit/" + student._id)
              .form-group
                label(for='firstname') Firstname
                input#firstname.form-control(placeholder='Firstname', name = "firstname", value = student.firstname, required, type="text")
              .form-group
                label(for='lastname') Lastname
                input#lastname.form-control(placeholder='Lastname', name = "lastname", value = student.lastname, required, type="text")
              .form-group
                label(for='mobile') Mobile
                input#mobile.form-control(placeholder='234XXXXXXXXXXX', name = "mobile",type='tel', value = student.mobile)
              .form-group
                label(for='dob') Date of Birth 
                #datepicker.input-group.date(data-date-format='dd-mm-yyyy')
                  input.form-control(type='date', name='dob', value = student.dob, required)
                  span.input-group-addon
                    i.fa.fa-calendar(aria-hidden='true')
              .form-group
                label(for='email') Email
                input#email.form-control(placeholder='name@domain.com', name = "email", type="email", value = student.email, required)
              .form-group
                label(for='exampleFormControlSelect1') Gender
                select#exampleFormControlSelect1.form-control(name = "g", value = student.g)
                  option M
                  option F
              .form-group
                label Image
                small#emailHelp.form-text.text-muted Changing image will be available in latter versions
                input.form-control(type='text', placeholder='Readonly input here…', readonly='', value = "https://ssl.prcdn.com/uk/people/default-profile.png?1406639312", name = "img")
              .form-group
                label(for='faculty') Faculty
                input#faculty.form-control(placeholder='Faculty', name = "faculty", value = student.faculty, required, type="text")
              .form-group
                label(for='dept') Department 
                input#dept.form-control(placeholder='Department', name = "dept", value = student.dept, required, type="text")
              .form-group
                label(for='exampleFormControlSelect1') Level
                select#exampleFormControlSelect1.form-control(name = "level", value = student.level, required)
                  option 100
                  option 200
                  option 300
                  option 400
                  option 500
              .form-group
                label(for='total') Total Students
                input#total.form-control(placeholder='Class Total', name = "total", value = student.total, required, type = "number")
              .form-group
                label(for='rank') Stundent's Class Rank
                input#rank.form-control(placeholder='Student Rank', name = "rank", value = student.rank, required, type = "number")
              .form-group
                label(for='exampleFormControlSelect1') grade
                select#exampleFormControlSelect1.form-control(name = "grade", value = student.grade)
                  option 1st Class
                  option 2nd Class upper
                  option 2nd Class lower
                  option 3rd Class
                  option Pass
              br
              button.btn.btn-primary(type='submit') Update Student Resource
          
              