extends layout

block content
    link(type='text/css', rel='stylesheet', href='/studentedit.css')
    
    body
      nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-dark
        a.navbar-brand(href='/') ALC College
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo02', aria-controls='navbarTogglerDemo02', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarTogglerDemo02.collapse.navbar-collapse
          ul.navbar-nav.mr-auto.mt-2.mt-lg-0
            li.nav-item
              a.nav-link(href='/')
                | Dashboard
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='/student/add') Add Student
      .container
        .col-md-4
            if errors
                div(class="alert alert-danger") #{errors[1].msg}
        .row
          .col-md-8
            h2 Edit Student Resource
            form(method="POST", action="/studentview/edit/" + student._id)
              .form-group
                label(for='firstname') Firstname
                input#firstname.form-control(placeholder='Firstname', name = "firstname", value = student.firstname, required, type="text", pattern="[a-zA-Z]+")
              .form-group
                label(for='lastname') Lastname
                input#lastname.form-control(placeholder='Lastname', name = "lastname", value = student.lastname, required, type="text", pattern="[a-zA-Z]+")
              .form-group
                label(for='mobile') Mobile
                input#mobile.form-control(placeholder='234XXXXXXXXXXX', name = "mobile",type='tel', value = student.mobile, , pattern="[0-9]{13}")
              .form-group
                label(for='dob') Date of Birth 
                #datepicker.input-group.date(data-date-format='dd-mm-yyyy')
                  input.form-control(type='date', name='dob', value = student.dob, required)
                  span.input-group-addon
                    i.fa.fa-calendar(aria-hidden='true')
              .form-group
                label(for='email') Email
                input#email.form-control(placeholder='name@domain.com', name = "email", type="email", value = student.email, required)
              .form-group
                label(for='exampleFormControlSelect1') Gender
                select#exampleFormControlSelect1.form-control(name = "g", value = student.g)
                  option M
                  option F
              .form-group
                label Image
                small#emailHelp.form-text.text-muted Changing image will be available in latter versions
                input.form-control(type='text', placeholder='Readonly input here…', readonly='', value = "https://ssl.prcdn.com/uk/people/default-profile.png?1406639312", name = "img")
              .form-group
                label(for='faculty') Faculty
                select#exampleFormControlSelect1.form-control(name = "faculty", value = student.faculty)
                  option Administration
                  option Arts And Humanities
                  option Education
                  option Engineering / Technology / Environmental Sciences
                  option Law / Legal Studies
                  option Medical / Health Sciences / Pharmacy
                  option Sciences
                  option Social Sciences
              .form-group
                label(for='dept') Department 
                select#exampleFormControlSelect1.form-control(name = "dept", value = student.dept)
                  option Accounting
                  option Biochemistry
                  option Botany
                  option Building
                  option Business Administration
                  option Business Education
                  option Business Management
                  option Cell Biology and Genetics
                  option Chemical Engineering
                  option Chemistry
                  option Chinese Studies
                  option Christian Religious Knowledge / Studies
                  option Civil Engineering
                  option Computer Engineering
                  option Computer Science
                  option Creative Arts
                  option Dentistry And Dental Surgery
                  option Early Childhood Education
                  option Education and Biology
                  option Education and Chemistry
                  option Education and Christian Religious Studies
                  option Education and Economics
                  option Education and English Language
                  option Education and French
                  option Education and Geography
                  option Education and History
                  option Education and Igbo
                  option Education and Integrated Science
                  option Education and Islamic Studies
                  option Education and Mathematics
                  option Education and Physics
                  option Education and Yoruba
                  option Educational Administration
                  option Electrical / Electronic Engineering
                  option English Language
                  option Estate Management
                  option Finance
                  option Fisheries
                  option French
                  option Geology
                  option Geophysis
                  option Guidance and Counseling
                  option History and Strategic Studies
                  option Hospitality And Tourism Management
                  option Human Kinetics
                  option Industrial Relations and Personnel Management
                  option Insurance
                  option Insurance and Actuarial Science
                  option Law
                  option Linguistics
                  option Marine Biology
                  option Mass Communication
                  option Mathematics
                  option Mechanical Engineering
                  option Medical Laboratory Technology / Science
                  option Medicine and Surgery
                  option Metallurgical and Material Engineering
                  option Microbiology
                  option Nursing / Nursing Science
                  option Petroleum and Gas Engineering
                  option Pharmacology
                  option Pharmacy
                  option Philosophy
                  option Physics
                  option Physiology
                  option Physiotherapy
                  option Psychology
                  option Quantity Surveying
                  option Radiography
                  option Russian
                  option Social Works
                  option Sociology
                  option Surveying and Geo-Informatics
                  option Systems Engineering
                  option Technical Education
                  option Urban and Regional Planning
                  option Zoology
              .form-group
                label(for='exampleFormControlSelect1') Level
                select#exampleFormControlSelect1.form-control(name = "level", value = student.level, required)
                  option 100
                  option 200
                  option 300
                  option 400
                  option 500
              .form-group
                label(for='total') Total Students
                input#total.form-control(placeholder='Class Total', name = "total", value = student.total, required, type = "number", max="200")
              .form-group
                label(for='rank') Stundent's Class Rank
                input#rank.form-control(placeholder='Student Rank', name = "rank", value = student.rank, required, type = "number", max="200")
              .form-group
                label(for='exampleFormControlSelect1') grade
                select#exampleFormControlSelect1.form-control(name = "grade", value = student.grade)
                  option 1st Class
                  option 2nd Class upper
                  option 2nd Class lower
                  option 3rd Class
                  option Pass
              br
              button.btn.btn-primary(type='submit') Update Student Resource
          
              